html {
  font-size: 18px;
  background-color: white;
  display: block;
}
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
  margin: 0;
  @media only screen and (max-width: 1024px)
  body {
    font-size: 16px;
  }
}
div {
  display: block;
}
.headline h4 {
  font-family:"roboto";
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}
.headline h1{
  font-family: "roboto";
  font-size: 2rem;
  font-weight: bold;
}
.company {
  background-color: black;
  color: white;
  font-family: "roboto";
  font-size: 1rem;
}
.company img {
  height: 1.5em;
  padding-right: 15px;
}
.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}
.headline {
  background-color: black;
  color: white;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}
nav {
  background-color: firebrick;
  color: white;
  display: block;
  padding: 20px 40px;
}
nav span {
  display: inline-block;
  text-align: center;
  padding: 0px 45px;
}
nav ul {
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  list-style: none;
  font-family: "roboto";
}
li {
  display: inline-block;

}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.items {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
  padding: 0px 100px;
  font-family: "roboto";
}
@media only screen and (max-width: 1024px)
  .product {
    width: 47%;
  }
.item-picture {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
}
.item-picture img {
  max-width: 8em;
}
.itemOne, .itemTwo, .itemThree {
  margin-left: 30px;
  float: left;
}
.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}
.info {
  width: 35%;
  float: left;
  margin-top:30px;
  margin-left: 95px;
}
.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
  font-family: "roboto";
}
.products {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.footer {
  position: absolute;
    right: 0;
    bottom: -160px;
    left: 0;
    padding: 1rem;
    background-color: black;
    text-align: left;
    color: white;
    height: 5rem;
    font-family: "roboto";
  }
